*{
  margin: 0;
  padding: 0;
}
header{
  padding: 10px 20px;
  height:60px;
}
body{
  font-size:20px;
  background: #eee;
  color:#333;
  box-sizing:border-box;
  width: 100%;
  height:100%;
  overflow-x:hidden;

  &.menu-open{
    overflow-y:hidden;
  background-image: url("https://cdn.discordapp.com/attachments/670982490999226370/670994964712521751/images-1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;   
  }
  
  &.menu-open #cover{
    display: block;
  }
  
  &.menu-open #menu{
    right: 0;
  }
}

#cover{
  background: #000;
  opacity:.6;
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index:1;
  display:none;
}

#show,#hide{
  float:right;
  cursor:pointer;
}

#menu{
  position:absolute;
  top:0;
  right: -180px;
  background: #3386ba;
  padding:10px 20px;
  box-sizing:border-box;
  width: 180px;
  min-height:100%;
  z-index:2;
  transition:.5s;

  li{
    list-style:none;
    margin-top:10px;
  }

  a{
    color:#fff;
    text-decoration: none;
      &:hover{
      opacity:.7;
    }
  }
}
